$main-color: #006eff;
$secondary-color: #009bff;
$secondary-dark-color: #080c2f;
$light-color: #fff;
$dark-color: #050823;

$mint-green: #98d8aa;
$coral-red: #ff6d60;
$sunflower-yellow: #f7d060;
// $coral-red: #f3e99f;
$white: #fff;
$light-color: #fff;

$body-font: "Inter", sans-serif;
$theme-bg: #1f1d2b;
$body-color: #808191;
$button-bg: #353340;
$border-color: rgb(128 129 145 / 24%);
$video-bg: #252936;
$delay: 0s;
